# general  modules
django==4.2
tzdata
setuptools
python-decouple
Pillow
requests 
requests-oauthlib

# database
mysqlclient


# developments
gunicorn>=20.0.4


#authentication
pyjwt

# CollectData web
selenium
webdriver-manager