# general  modules
django==4.2
tzdata
setuptools
python-decouple
Pillow
requests 
requests-oauthlib

# database
mysqlclient

# rest API
django-filter
djangorestframework
markdown


# developments
gunicorn>=20.0.4

# security
django-sslserver


#authentication
pyjwt

